% rebase ('osnova.html')
<p class="mt-4">
  </p>

<div class="tile is-ancestor">
    <div class="tile is-parent has-background-black">
        <p class="title has-text-white is-size-1">________________________TRAVEL EXPENSE KEEPER________________________</p>
    </div>
</div>

<nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="http://127.0.0.1:8080/zacetna/">
          Domov
        </a>
        
        <a class="navbar-item" href="http://127.0.0.1:8080/pomoc/">
          Pomoč
        </a>
      </div>
    </div>
    
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            
            <form method="POST" action="/odjava/">
                <input class="button is-light" type="submit" value="Odjava">
            </form>
            
          </div>
        </div>
    </div>
  </nav>

<body class="has-background-grey-lighter">

    <div class="tile is-ancestor">
        <div class="tile is-15 is-vertical is-parent">
            <div class="tile is-child box has-background-success-light">
                <div class="content">
                    <p class="title">NAVODILA ZA UPORABO</p>
                    <p>Program je namenjen daljšim potovanjem, kjer je potrebno skrbno beleženje vseh izdatkov na poti. 
                        Za začetek je potrebno ustvariti vsaj eno potovanje, dan ter kategorijo. Potovanje ustvarjamo na podlagi
                         tega kam smo se odpravili, torej kontinent ali država. Kategorija nam mora povedati čemu je bil porabljen denar namenjen.
                         Priporočljive kategorije so nastanitev, prevoz, hrana in aktivnosti. Kategorije se lahko odstranjuje dokler so prazne.
                         Nato lahko začnemo ustvarjati izdatke, pri čemer je pri lokaciji potrebno vpisati bolj natančno lokacijo kot sta kontinent
                         ali država.
                    </p>
                    <p>Na levi strani si lahko ogledamo katera potovanja, dni in kategorije že imamo in kolikšni so bili skupni izdatki za vsako
                        od teh.
                    </p>
                </div>
            </div>
        </div>
    </div>
                      
</body>
                                                                                                                                    