
% rebase ('osnova.html')
<p class="mt-4">
  </p>

<div class="tile is-ancestor">
    <div class="tile is-parent has-background-black">
        <p class="title has-text-white is-size-1">________________________TRAVEL EXPENSE KEEPER________________________</p>
    </div>
</div>


<nav class="navbar is-success" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="http://127.0.0.1:8080/zacetna/">
          Domov
        </a>
        
        <a class="navbar-item" href="http://127.0.0.1:8080/pomoc/">
          Pomoč
        </a>
      </div>
    </div>
    
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            
            <form method="POST" action="/odjava/">
                <input class="button is-light" type="submit" value="Odjava">
            </form>
            
          </div>
        </div>
    </div>
  </nav>


<div class="graphs-container" data-title="Horizontal Graph">
    <div class="data-container column is-full columns is-mobile is-size-7 has-text-white is-marginless">
        <div data-title="One" data-value="10"></div>
        <div data-title="Two" data-value="50"></div>
        <div data-title="Three" data-value="100"></div>
    </div>
</div>

<body class="has-background-grey-lighter">


<div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box has-background-success-light">
            <div class="content">
                <h2>Poraba po potovanjih</h2>
                <ul>
                    % for potovanje in moji_potni_stroski.potovanja: 
                    <li>{{potovanje.ime}}: {{potovanje.celotna_poraba()}} €</li>
                    % end
                    <li>
                        <form action="/dodaj-potovanje/" method="POST">
                            <input type="text" id="ime" name="ime" placeholder="vpiši potovanje">
                            <input class="button is-success is-small" type="submit" value="Dodaj potovanje">     
                        </form>
                    </li>
                </ul> 
            </div>
        </div>
        <div class="tile is-child box has-background-success-light">
            <div class="content">    
                <h2>Poraba po dnevih</h2>
                <ul>
                    % for dan in moji_potni_stroski.dnevi: 
                    <li>{{dan.datum}}: {{dan.dnevna_poraba()}} €</li>
                    % end
                    <li>
                        <form action="/dodaj-dan/" method="POST">
                            % include('_izberi_potovanje.html', id='potovanje')
                            <input type="date" id="datum" name="datum">
                            <input class="button is-success is-small" type="submit" value="Dodaj dan">        
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tile is-child box has-background-success-light">
            <div class="content">        
                <h2>Poraba po kategorijah</h2>
                <ul>
                    % for kategorija in moji_potni_stroski.kategorije: 
                    <li>
                        {{kategorija.ime}}: {{kategorija.kategoricna_poraba()}} €
                        <form action="/odstrani-kategorijo/" method="POST" style="display: inline">
                            <input type="hidden" name="kategorija" value="{{kategorija.ime}}">
                            <input class="button is-small is-danger" type="submit" value="Odstrani ">     
                        </form>
                    </li>
                    % end
                    <li>
                        <form action="/dodaj-kategorijo/" method="POST">
                            % include('_izberi_potovanje.html', id='potovanje')
                            <input type="text" id="ime" name="ime" placeholder="vpiši kategorijo">
                            <input class="button is-success is-small" type="submit" value="Dodaj kategorijo">     
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>        
    <div class="tile is-parent">  
        <div class="tile is-child box has-background-success-light">    
            <div class="content">
                <h2>Izdatki</h2>
            
            
            <table class="table is-striped is-centered">
                <thead>
                    <tr>
                        <th><abbr>DAN</abbr></th>
                        <th><abbr>POTOVANJE</abbr></th>
                        <th><abbr>LOKACIJA</abbr></th>
                        <th><abbr>ZNESEK</abbr></th>
                        <th><abbr>KATEGORIJA</abbr></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form action="/dodaj-izdatek/" method="POST">
                        <tr>
                            <td>
                                % include('_izberi_dan.html', id='dan')
                            </td>
                            <td>
                                % include('_izberi_potovanje.html', id='potovanje')
                            </td>
                            <td>
                                <input type="text" id="lokacija" name="lokacija" placeholder="vpiši natančnejšo lokacijo">
                            </td>
                            <td>
                                % include('_izberi_znesek.html', id='znesek')
                            </td>
                            <td>
                                % include('_izberi_kategorijo.html', id='kategorija')
                            </td>
                            <td>
                                <input class="button is-success is-small" type="submit" value="Dodaj izdatek">
                            </td>
                        </tr>
                    </form>
                    % for izdatek in sorted(moji_potni_stroski.izdatki, reverse=True):
                    <tr>
                        <td>{{izdatek.dan.datum}}</td>
                        <td>{{izdatek.potovanje.ime}}</td>
                        <td>{{izdatek.lokacija}}</td>
                        <td>{{izdatek.znesek}}</td>
                        <td>{{izdatek.kategorija.ime}}</td>
                        <td></td>
                    </tr>
                    % end
                </tbody>
            </table>
            </div>
        </div>  
    </div>
</div>



</body>
    


    
    
         

